a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*:focus {
    outline: 0;
    text-decoration: none;
}
a:focus,
a:active {
    text-decoration: none;
    outline: 0;
}

/* ==========================================================================
    2. DOCUMENT STYLES
    ========================================================================= */
body {
    font-family: 'Montserrat-UltraLight', Arial, sans-serif;
    line-height: 23px;
    color: #777777;
    background-color: #fff;
}

.row-equal-height {
    display: table;
}
.row-equal-height *[class^="col-"] {
    display: table-cell;
    float: none;
}
.centered {
    text-align: center;
}
.overflow-hidden {
    overflow: hidden;
}
.emphasized-text {
    font-size: 24px;
    font-weight: 700;
    color: #161d27;
    margin-bottom: 25px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
img.float-left {
    float: left;
    margin: 12px 12px 12px 0;
}
img.float-right {
    float: right;
    margin: 12px 0px 12px 12px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.img-center {
    display: table;
    margin: 0 auto;
}
.page-content .logo img {
    margin: 0 auto;
}
.container-fluid.padding-0 .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.page-content select {
    border: 1px solid #475366;
    background-color: transparent;
    width: 100%;
    height: 40px;
    padding: 0 10px;
}
.reset-padding-top {
    padding-top: 0 !important;
}
.locations-padding-top {
    padding-top: 250px !important;
}
.page-content .locations-select {
    color: #E2E2E2;
    cursor: pointer;
    margin-top: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #686D75;
    background: rgba(0, 0, 0, 0.2) url(../img/input-arrow.png) no-repeat right 10px center;
}
.bottom-element-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
}
.bottom-element-wrapper .social-links {
    margin: 0 auto;
}
.bottom-element-wrapper .social-links li a {
    background-color: #1d2026;
}
.bottom-element-wrapper .social-links li a:hover {
    background-color: #2B2F35;
}
.bottom-element-wrapper .social-links li a i {
    color: #fff;
}

/* ==========================================================================
    3. TYPOGRAPHY 
    ========================================================================= */

p,
a {
    color: #777777; 
}

p {
    padding-bottom: 15px;
}
a {
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4{
    font-family: 'Suranna', serif;
    color: #161d27;
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h5,
h6 {
    font-family: 'Montserrat', Arial, sans-serif;
    color: #161d27;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}
h1 {
    font-size: 60px;
    line-height: 60px;
}
h2 {
    font-size: 44px;
    line-height: 44px;
}
h3 {
    font-size: 36px;
    line-height: 36px;
}
h4 {
    font-size: 27px;
    line-height: 28px;
}
h5 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 3px;
}
h6 {
    font-size: 15px;
    line-height: 15px;
}
h5 .sans-serif {
    font-family: 'Montserrat', Arial, sans-serif !important;
    font-size: 21px;
}
.dark h5 .sans-serif {
    color: #fff;
}
strong {
    font-weight: 600;
}
strong a:hover {
    text-decoration: underline;
}
ul,
ol {
    list-style-position: inside;
    list-style-type: none;
}
ul li,
ol li {
    padding-bottom: 0;
}
.listy-style-none {
    list-style: none;
}
ul.list-border li,
ol.list-border li {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 8px;
    padding-top: 3px;
}
ul.list-border li:last-child,
ol.list-border li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
ul.list-border li:first-child,
ol.list-border li:first-child {
    padding-top: 0;
}
.page-content ul {
    margin-bottom: 25px;
}
.page-content ul li{
    font-size:14px;
}
.circle-list-style-type li {
    padding-left: 14px;
    margin: 0 0 5px;
    font-size: 14px;
    position: relative;
}
.circle-list-style-type li:before {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 6px;
    content: "\f111";
    display: block;
    top: 1px;
    left: 0px;
}
blockquote + p {
    margin-top: 15px;
}
.custom-col-padding {
    padding: 275px 0 195px 0!important;
}
.padding-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
a.more-details{
    font-family: 'Suranna', serif;
    text-transform: uppercase;
    font-size: 21px; 
    border-bottom: 1px solid;
    color: #161d27;
    display: inline-block;
    padding-bottom: 3px;
    margin-top: 10px;

    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
a.more-details .fa{
    position: relative;
    top: -2px;
    margin-left: 7px;
    font-size: 14px;
}

.mb-0 {
    margin-bottom: 0 !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mb-60 {
    margin-bottom: 60px !important;
}
.mb-80 {
    margin-bottom: 80px !important;
}
.mb-100 {
    margin-bottom: 100px !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pt-20 {
    padding-top: 20px !important;
}
.pt-40 {
    padding-top: 40px !important;
}
.pt-60 {
    padding-top: 60px !important;
}
.pt-80 {
    padding-top: 80px !important;
}
.pt-100 {
    padding-top: 100px !important;
}
.pt-120 {
    padding-top: 100px !important;
}
.pt-150 {
    padding-top: 150px !important;
}
.pt-160 {
    padding-top: 160px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.custom-heading.style-1 span,
.custom-heading.style-2 span,
.menu-item-price p{
    font-family: 'Montez', cursive;
    text-transform: none;
}

.custom-heading span {
    color: white !important;
    font-family: 'Kaushan Script' !important;
}

.custom-heading h5 {
    color: white !important;
}

.open-table-widget-style-2 .open-table-widget {
    display: inline-block;
}
.open-table-widget-style-1 {
    background-color: #fff;
}
.page-content.dark .open-table-widget-style-1 .custom-heading h3 {
    color: #161d27;
}
.widget-title, .widgettitle {
    display: none;
}
.otw-widget-form-wrap {
    padding-top: 10px;
}
.otw-input-wrap {
    margin: 0 0 10px;
}
.otw-widget-form-wrap input[type=text] {
    vertical-align: middle;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.otw-widget-form-wrap select {
    padding-right: 0 !important;
}
.otw-widget-form-wrap input[type=text], .otw-widget-form-wrap select {
    position: relative;
    color: #777;
    margin: 0;
    height: 40px;
    font-weight: 600;
    padding: 0 0 0 33px;
    cursor: pointer;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: 1px solid #CCC;
    background-color: #FFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.otw-widget-form-wrap .otw-name-wrap input[type=text],
.otw-widget-form-wrap .otw-email-wrap input[type=text]{
    cursor: text;
}
.otw-widget-form-wrap input[type=text]::-ms-expand, .otw-widget-form-wrap select::-ms-expand {
    display: none;
} 
.otw-widget-form-wrap input[type=text]::-webkit-input-placeholder,
.otw-widget-form-wrap select::-webkit-input-placeholder {
    color: #777;
    text-align: left;
}
.otw-widget-form-wrap input[type=text]::-moz-placeholder,
.otw-widget-form-wrap select::-moz-placeholder {
    color: #777;
    text-align: left;
}
.otw-widget-form-wrap input[type=text]::-ms-input-placeholder,
.otw-widget-form-wrap select::-ms-input-placeholder {
    color: #777;
    text-align: left;
}
.otw-widget-form-wrap input[type="submit"] {
    padding: 12px 0;
    display: block;
    background-color: #161d27;
    font-size: 14px;
    color: #fff;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-appearance: button;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.open-table-widget-style-1 .otw-widget-form-wrap input[type="submit"],
.open-table-widget-style-1 .otw-widget-form-wrap input[type="text"],
.open-table-widget-style-1 .otw-widget-form-wrap select {
    width: 100%;
}
.open-table-widget-style-2 .otw-input-wrap {
    width: 360px;
    float: left;
}
.open-table-widget-style-3 .otw-input-wrap {
    width: 335px;
    display: inline-block;
}
.open-table-widget-style-2 .otw-widget-form-wrap input[type="text"],
.open-table-widget-style-2 .otw-widget-form-wrap select,
.open-table-widget-style-3 .otw-widget-form-wrap input[type="text"],
.open-table-widget-style-3 .otw-widget-form-wrap select {
    width: 100%;
}
.open-table-widget-style-2 .otw-widget-form-wrap input[type="submit"] {
    width: 360px;
    margin: 0 auto;
}
.open-table-widget-style-3 .otw-widget-form-wrap input[type="submit"]{
    width: 335px;
    margin: 0 auto;
}
.open-table-widget-style-2 .otw-party-size-wrap,
.open-table-widget-style-3 .otw-party-size-wrap,
.open-table-widget-style-2 .otw-email-wrap,
.open-table-widget-style-3 .otw-email-wrap,
.open-table-widget-style-3 .otw-date-wrap{
    margin: 0 30px;
}
.open-table-widget-style-3 .otw-date-wrap{
    margin-left: 30px;
}
.open-table-widget-style-2 .otw-widget-form-wrap input[type="submit"] {
    padding: 8px 0 9px 0;
}
.otw-date-wrap input {
    padding-left: 37px !important;
}
    
.otw-email-wrap input,
.otw-name-wrap input {
    padding-left: 37px !important;
}
.otw-input-wrap {
    position: relative;
}
.otw-date-wrap:before,
.otw-party-size-wrap:before,
.otw-time-wrap:before,
.otw-restaurant-wrap:before,
.otw-email-wrap:before,
.otw-name-wrap:before{
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 14px;
    display: block;
    top: 9px;
    left: 18px;
    z-index: 1;
}
.otw-date-wrap:before{
    content: "\f073";
}
.otw-party-size-wrap:before{
    content: "\f0c0";
}
.otw-time-wrap:before{
    content: "\f017";
}
.otw-restaurant-wrap:before{
    content: "\f19c";
}
.otw-email-wrap:before{
    content: "\f003";
}
.otw-name-wrap:before{
    content: "\f007";
}


/* navbar */
.navbar_main {
    z-index: 100;
    top: 0px;
    background: rgba(0,0,0,0.65);
    width: 100%;
    position: fixed;
    backdrop-filter: saturate(200%) blur(15px);
    
  }
  
  .nav-contents {
    text-align: center;
  }
  
  .nav-list {
    color: white ;
    list-style: none;
    display: inline-flex;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-inline-start: 0px;
  }
  
  .nav-item {
    font-family: 'Montserrat Alternates' !important;
    margin: auto;
  }
  
  .nav-item a {
    color: white !important;
    text-decoration: unset !important; 
    font-size: 1.2rem !important;
    transition: 0.3s;
  }
  
  .logo {
    font-family: 'Kaushan Script';
  }
  
  .nav-item a:hover {
    color: #9cff99 !important;
    text-decoration: unset; 
  }
  
  
  @media only screen and (max-width: 1300px) {
    .nav-list {
        width: 80%;
  
    }
  }

body {
    background-image: url(../img/book_bg.jpg);
    object-fit: cover;
    background-attachment: fixed;
}

.page-content {
    margin-top: 5%;
}

.open-table-widget-style-1 {
    background-color: rgba(0, 0, 0, 0) !important;
}

.hidden-xs img {
    border-radius: 10px !important;
}

@media only screen and (max-width: 1300px) {
    .nav-list {
        width: 80% !important;

    }  
}

@media only screen and (max-width: 1500px) {
    .nav-list {
        width: 65% !important;

    }  
}


.otw-wrapper input {
    border-radius: 10px !important;
}

.otw-wrapper select {
    border-radius: 10px !important;
}

.otw-button-wrap input:hover {
    background-color: teal !important;
}

#nologin {
    font-family: 'Ubuntu' !important;
    color: #ff2424; 
    background-color: rgba(255,255,255,0.8); 
    padding: 15px; 
    border-radius: 10px;
    margin-top: 30px;
}
